Import the required libraries and modules that you would need

In [87]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_boston
from sklearn.datasets import load_iris, load_breast_cancer
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import plot_tree
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn.preprocessing import StandardScaler

Read that data into Python and call the dataframe churnData

In [17]:
churnData = pd.read_csv("DATA_Customer-Churn.csv")

In [18]:
Churn_df = pd.DataFrame(churnData)

In [19]:
Churn_df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

Check the datatypes of all the columns in the data. You will see that the column TotalCharges is object type. Convert this column into numeric type using pd.to_numeric function.

In [35]:
Churn_df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [63]:
#We use the Parameter errors='coerce' to ignore if the value is not convertible into a numeric.
#this will transforme into a NaN
Churn_df['TotalCharges'] = pd.to_numeric(Churn_df['TotalCharges'].apply(lambda x: x.strip()))

In [69]:
Churn_df['TotalCharges'] = Churn_df['TotalCharges'].fillna(Churn_df['TotalCharges'].mean())

In [80]:
Churn_df['TotalCharges'].dtypes

dtype('float64')

Check for null values in the dataframe. Replace the null values.

In [51]:
print(Churn_df.isnull().sum())
#There is no Null values anymore, the only one was in MonthlyCharges and were turn into NaN
#If there were some in the numerical column, we culd have use : Churn_df.fillna(Churn_df.mean(), inplace=True)

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges:
- Split the data into a training set and a test set.

In [79]:
# We start by defining the ratio of test/train we need
TT_SPLIT = 0.2     # ratio train/test size
RAND_STATE = 42   # specifies a sampling for repeatable results

In [83]:
# We create a dataframe with those features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges:
X = Churn_df[['tenure','SeniorCitizen','MonthlyCharges','TotalCharges']]
y = Churn_df['Churn']

In [84]:
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=TT_SPLIT,random_state=RAND_STATE) # splitting the data into train and test sets

- standardscaler
- fit(x train)
- fit transform(X_test)

In [88]:
scaler = StandardScaler()
scaler.fit(X_train)
fit_transform(X_test)
display(X.head())
#print()

NameError: name 'fit_transform' is not defined

In [55]:
train, test = train_test_split(X, test_size=0.2, random_state=42)

# printing the shape of the training and test sets
print(f'Training set shape: {train.shape}')
print(f'Test set shape: {test.shape}')

Training set shape: (5634, 16)
Test set shape: (1409, 16)