**Activity 3 (Wednesday)**

**Get the numeric data into dataframe called numerical and categorical columns in a dataframe called categoricals. (You can use np.number and np.object to select the numerical data types and categorical data types respectively)**


WE CAN DROP THE EFFECTIVE TO DATE COLUMN

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
from scipy.stats import boxcox
pd.options.display.max_rows = 100
## Install xlrd package to load Excel files
#!conda install openpyxl
#!conda install xlrd

In [7]:
rd3 = pd.read_csv('Data/Data_Marketing_Customer_Analysis_Round3.csv')

In [9]:
rd3.dtypes

region                           object
customer_lifetime_value           int64
response                         object
coverage                         object
education                        object
effective_to_date                object
month                            object
employment_status                object
gender                           object
income                            int64
location_code                    object
marital_status                   object
monthly_premium_auto              int64
months_since_last_claim           int64
months_since_policy_inception     int64
number_of_open_complaints         int64
number_of_policies                int64
policy_type                      object
policy                           object
renew_offer_type                 object
sales_channel                    object
total_claim_amount                int64
vehicle_class                    object
vehicle_size                     object
dtype: object

In [24]:
#We import the numerical columns from dataframe rd3 to num_data through ., same for the categorical through np.object
num_data = rd3.select_dtypes(include=[np.number])
cat_data = rd3.select_dtypes(include=np.object)
num_data

       customer_lifetime_value  income  monthly_premium_auto  \
0                         4809   48029                    61
1                         2228   92260                    64
2                        14947   22139                   100
3                        22332   49078                    97
4                         9025   23675                   117
...                        ...     ...                   ...
10684                    15563   61541                   253
10685                     5259   61146                    65
10686                    23893   39837                   201
10687                    11971   64195                   158
10688                     6857   68942                   101

       months_since_last_claim  months_since_policy_inception  \
0                            7                             52
1                            3                             26
2                           34                             31
3                           10                              3
4                           33                             31
...                        ...                            ...
10684                       12                             40
10685                        7                             68
10686                       11                             63
10687                        0                             27
10688                       31                              1

       number_of_open_complaints  number_of_policies  total_claim_amount
0                              0                   9                 292
1                              0                   1                 744
2                              0                   2                 480
3                              0                   2                 484
4                              0                   7                 707
...                          ...                 ...                 ...
10684                          0                   7                1214
10685                          0                   6                 273
10686                          0                   2                 381
10687                          4                   6                 618
10688                          0                   3                1021

[10689 rows x 8 columns]
            region response  coverage education effective_to_date month  \
0          central       no     basic   college           2/18/11   feb
1      west region       no     basic   college           1/18/11   jan
2             east       no     basic  bachelor           2/10/11   feb
3       north west      yes  extended   college           1/11/11   jan
4       north west       no   premium  bachelor           1/17/11   jan
...            ...      ...       ...       ...               ...   ...
10684      central       no   premium  bachelor           1/19/11   jan
10685   north west       no     basic   college            1/6/11   jan
10686      central       no  extended  bachelor            2/6/11   feb
10687  west region       no   premium   college           2/13/11   feb
10688      central       no     basic  bachelor            1/8/11   jan

      employment_status gender location_code marital_status     policy_type  \
0              employed      m      suburban        married  corporate auto
1            unemployed      f      suburban         single   personal auto
2              employed      m      suburban         single   personal auto
3              employed      m      suburban         single  corporate auto
4         medical leave      f      suburban        married   personal auto
...                 ...    ...           ...            ...             ...
10684        unemployed      f      suburban        married   personal auto
10685          employed      f         urban        married   personal auto
10686          employed      f         rural        married  corporate auto
10687          employed      f         urban       divorced   personal auto
10688        unemployed      m      suburban         single   personal auto

             policy renew_offer_type sales_channel  vehicle_class vehicle_size
0      corporate l3           offer3         agent  four-door car      medsize
1       personal l3           offer4   call center  four-door car      medsize
2       personal l3           offer3   call center            suv      medsize
3      corporate l3           offer2        branch  four-door car      medsize
4       personal l2           offer1        branch  four-door car      medsize
...             ...              ...           ...            ...          ...
10684   personal l1           offer3           web     luxury car      medsize
10685   personal l3           offer2        branch  four-door car      medsize
10686  corporate l3           offer1           web     luxury suv      medsize
10687   personal l1           offer1        branch            suv      medsize
10688   personal l1           offer4           web            suv      medsize

[10689 rows x 16 columns]

/var/folders/d0/kyjzvmwn3fdgc5m0t8snt0nm0000gn/T/ipykernel_43554/414943817.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  cat_data = rd3.select_dtypes(include=np.object)